{% extends "base.html" %}

{% block content %}
    <h1>Library Books</h1>

    <form class="form-inline" action="/books" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author">
        <label for="Genre">Genre:</label>
        <input type="text" name="genre" id="genre">
        <label for="checked_out">Checked Out?:</label>
        <input type="checkbox" name="checked_out" id="checked_out">
        <input type="submit" value="Add book">
    </form>
    <br>
    {% for book in books %}
    <ul>
        <li>
            <p><a href=http://localhost:4999/books/{{loop.index0}}> <b>{{ book.title }}</b> - {{book.author}} - {{book.genre}}</p></a>
        </li>
    </ul>    

    {% if book.checked_out %}
        <p><i>Checked Out</i></p>
    {% endif %}

    <form class="form-inline" action="/books/delete/{{ loop.index0 }}" method="POST">
        <input type="submit" value="Delete">
    </form>
    </div>
    {% endfor %}
</body>
{% endblock %}
</html>